src/main/java/com/start/boot/email/wsdl/cesMessageService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3-hudson-390-. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="cesMessageService" targetNamespace="http://webService/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://webService/" schemaLocation="CesMessageService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="addMessage">
    <part element="tns:addMessage" name="parameters"/>
  </message>
  <message name="addMessageResponse">
    <part element="tns:addMessageResponse" name="parameters"/>
  </message>
  <message name="addMessageSend">
    <part element="tns:addMessageSend" name="parameters"/>
  </message>
  <message name="addMessageSendResponse">
    <part element="tns:addMessageSendResponse" name="parameters"/>
  </message>
  <message name="getWotalkMessage">
    <part element="tns:getWotalkMessage" name="parameters"/>
  </message>
  <message name="getWotalkMessageResponse">
    <part element="tns:getWotalkMessageResponse" name="parameters"/>
  </message>
  <message name="updateWotalkMessageType">
    <part element="tns:updateWotalkMessageType" name="parameters"/>
  </message>
  <message name="updateWotalkMessageTypeResponse">
    <part element="tns:updateWotalkMessageTypeResponse" name="parameters"/>
  </message>
  <portType name="MessageServiceImpDelegate">
    <operation name="addMessage">
      <input message="tns:addMessage"/>
      <output message="tns:addMessageResponse"/>
    </operation>
    <operation name="addMessageSend">
      <input message="tns:addMessageSend"/>
      <output message="tns:addMessageSendResponse"/>
    </operation>
    <operation name="getWotalkMessage">
      <input message="tns:getWotalkMessage"/>
      <output message="tns:getWotalkMessageResponse"/>
    </operation>
    <operation name="updateWotalkMessageType">
      <input message="tns:updateWotalkMessageType"/>
      <output message="tns:updateWotalkMessageTypeResponse"/>
    </operation>
  </portType>
  <binding name="cesMessageBinding" type="tns:MessageServiceImpDelegate">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="addMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="addMessageSend">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getWotalkMessage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="updateWotalkMessageType">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="cesMessageService">
    <port binding="tns:cesMessageBinding" name="cesMessage">
      <soap:address location="http://10.31.190.167:8088/cesService/cesMessage"/>
    </port>
  </service>
</definitions>
